/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

//resets
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************personal styles**************************/

body {
  background-color: #eee;
  margin:0;
}
header {
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 20px;
  padding-bottom: 20px;
}
p {
  font-family: 'Roboto', arial, sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* form {
	text-align: center;
}
 */

#twittler {
  font-size: 96px;
  font-weight: bold;
  font-family: 'Alegreya', arial, sans-serif;
  color:white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

#tweets-update {
  text-align: right;
  padding-right: 50px;
  margin-top: 10px;
}

#manual-update-button {
  background-color: #4CAF50;
}
#start-autoupdate-button {
  background-color: #008CBA;
}
#stop-autoupdate-button {
  background-color: #555;
}

#username-input {
	width: 12%;
}
#tweet-input {
	width: 80%;
  margin-left: 25px;
}

.tweet-inputfield {
	padding-left: 3px;
	padding-right: 3px;
	font-size: 16px;
	line-height: 35px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #999;
}

.tweet-inputfield::placeholder{
	text-align: center;
}

.home-tweets {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: white;
}

.update-button {
  color: white;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 8px;
  display: inline-block;
}
.update-button:hover{
  cursor: pointer;
}

.tweet {
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.username, username:hover, username:visited {
  color:#2d9caf;
}
.timeago {
  color: #999;
  font-style: italic;
  font-size: 12px;
  text-align: right;
  display: block;
}
